@model IEnumerable<MatchEvents.ViewModel.MatchViewsModel>

@{
    ViewBag.Title = "Match de Eventos";
}

<h2>Match</h2>


<table class="table">
    <tr>
        <th>Nome</th>
        <th>Contato</th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>@item.nome</td>
        <td>
            <a href="@item.telefone">Conversar agora</a>
           
        </td>
    </tr>
}

</table>

<a class="btn-comprar btn-comecar" href="https://www.eventbrite.com.br/e/aceleramulher-o-que-e-dificil-para-voce-tickets-48189475017?aff=ebdssbdestsearch">Comprar agora</a>
