@model IEnumerable<MatchEvents.Models.Evento>

@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos para encontar companhia</h2>


<table class="table">
    <tr>
        <th>Evento</th>
        <th>Data</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Nome, "Edit", new { id = item.id })
        </td>
        <td>
            @item.DataCriacao
        </td>
    </tr>
}

</table>
