@{
    ViewBag.Title = "Home Page";
}

<div class="initial-page-container">
    <div class="initial-page">

        <img src="~/Content/images/Screenshot.png" alt="screenshot" />

        <div class="btn-container">
            <p class="tag-initial">Buscar companhia</p>
            <div>
                @Html.ActionLink(" ", "login", "usuarios", null, new { @class = "btn btn-initial" })
            </div>
        </div>
    </div>
</div>